body
{
    font-family: Tahoma, sans-serif;
    color: #CD7F32;
    background-color: #292F36;
    margin-right: 200px;
    margin-left: 200px;
}

a{ color: #AEB8C1; }
a:hover { color: #EEF0F2; }

header{
    font-family: Courier, serif;
    text-align: center;
    color: #b9a58c;
}

nav{
    font-family: Tahoma, sans-serif;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border: 3px solid #CD7F32;
}

thead th:nth-child(1) {
    width: 30%;
}
thead th:nth-child(2) {
    width: 20%;
}
thead th:nth-child(3) {
    width: 15%;
}
thead th:nth-child(4) {
    width: 35%;
}
th, td {
    padding: 20px;
}
tbody tr:nth-child(odd) {
    background-color: #633D18;
}
tbody tr:nth-child(even) {
    background-color: #EBCCAD;
}


.form-input {
    box-sizing: border-box;
    border: 2px solid #CD7F32;
    border-radius: 10px;
    font-size: 12px;
    background-color: #AEB8C1;
}














.calculator {
    width: 400px;
}

.calculator-screen{
    width: 92%;
    font-size: 4rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 2rem;
    color: #333;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
    background-color: #eaeaea;
}

.equal-sign {
    background-color: #CD7F32;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
    background-color: #af661c;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    padding: 2px;
}

footer{text-align: center;}
